<div class="comment-container">
    <div class="comment-element">
        <p>
            <%= fa_icon "user" %>:
            <%= comment.commenter %>
        </p>
        <p>
            <%= fa_icon "comment" %>:
            <%= comment.body %>
        </p>
    </div>
</div>
<% if current_user && current_user.role == "admin" %>
    <p>
        <%= link_to "Destroy Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %>
    </p>
<% end %>