<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%# @article.comments => [<comment1>, <comment2>, <comment3>]
<comment1>.class == Comment
comment_path => /comments/_comment.html.erb

@articles = [<article1>, <article2>]
<article1>.class == Article

=> views/articles/_article.html.erb
_ => partial

render 'article' => _article.html.erb
render file: 'article' => article.html.erb %>