<div id="<%= dom_id video %>">
  <tr>
    <th scope="row"><%= video.title%></th>
    <td><%= video.key_word%></td>
    <td><%= video.upload_at%></td>
    <td><%= link_to "Show this video", video %></td>
  </tr>
</div>
